/bootstrap/compiled.php
.env.*.php
.env.php
.env

\.idea/

vendor/

artisan

composer\.json

server\.php

tests/

bootstrap/

node_modules/

composer\.lock

gulpfile\.js

phpunit\.xml

package\.json

_ide_helper\.php
